 /* body {
    background: url(https://images.unsplash.com/photo-1554147090-e1221a04a025?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2296&q=80);
    background-size: cover;
    background-color: rgb(216, 188, 215);
    
    color: antiquewhite;
} */
body {
    border: rgb(39, 37, 37) solid 2.5rem;

}

main {
    background-color: #F6E6CB;
    color: #8a7767;
    border-radius: 8px;
    
    font-family: 'Space Grotesk', sans-serif;
}
.header {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}

.header-inner {
    display: flex;
    justify-content:space-around;
}

.title-photo {
    position: relative;
    margin-left: 1.5rem;
    z-index: 1;
}
.photo {
    max-width: 30%;
    margin-top: 1rem;
    filter: grayscale(100%) sepia(30%);
    border-radius: 4px
}
.name {
    font-size: 5rem;
    padding: 0 3rem 1rem;

}
.bio {
    margin: 1rem;
}

.title {
    font-size: 5rem;
    margin: 0 3rem 0 3rem;

}
.contact-me {
    font-size: 5rem;
    margin-right: 2rem;
    text-decoration: none;
    color: #8a7767;
}

.contact a:hover {
    color: #594c41;
}
.icon-wrap {
    display: flex;
    flex-direction: row;
}
.icon img{
    max-width: 100px;
    padding: 1.5rem;
}